#bagua-table th {
    text-align: center;
    font-weight: bold;
}

#bagua-table td {
    width: 150px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 12px;
}

#bagua-table .nw {
    background: #999999;
}

#bagua-table .n {
    background: #0033ff;
    color: #fff;
}

#bagua-table .ne {
    background: #ffff66;
}

#bagua-table .w {
    background: #ffff00;
}

#bagua-table .c {
    background: #6600cc;
    color: #fff;
}

#bagua-table .e {
    background: #0099ff;
    color: #fff;
}

#bagua-table .sw {
    background: #963;
    color: #fff;
}

#bagua-table .s {
    background: #f60;
    color: #fff;
}

#bagua-table .se {
    background: #0c3;
    color: #fff;
}

#bagua-table .highlight {
    background: red;
}